body {
  background-color: #f4f4f4;
  font-family: Arial, Helvetica, sans-serif;
}
.gameWrapper {
  margin: auto;
  margin-top: 2%;
  text-align: center;
}

.gameWrapper h1 {
  font-size: 40px;
  text-transform: uppercase;
  font-family: Georgia, 'Times New Roman', Times, serif;
  letter-spacing: 0.5em;
}

.boardWrapper {
  display: inline-block;
  margin: auto;
  white-space: nowrap;
}

.rowWrapper {
  margin-bottom: 2%;
  overflow: hidden;
}

.pinWrapper {
  float: left;
  vertical-align: top;
  border-right: #6e6a64 2px solid;
}

.pin {
  width: 50px;
  height: 50px;
  margin: 0px 6px;
  cursor: pointer;
  background-color: white;
  border-radius: 50%;
  border: #9e9e9e 2px solid;
  outline: none;
}

.keyWrapper {
  float: left;
  margin-left: 10px;

  user-select: none;
}

table {
  border-spacing: 0px;
  margin: 0px;
  padding: 0px;
  text-align: center;
}

.key {
  margin: 0px;
  padding: 0px;
  font-size: 18px;
}

.checkWrapper {
  margin: 0px 5px;
  display: inline-block;
  vertical-align: middle;

  user-select: none;
}

.check {
  width: 40px;
  height: 40px;
  margin-top: 5px;
  vertical-align: middle;
  text-align: center;
  font-size: 30px;
  font-weight: bolder;
  color: lightslategrey;
  border: none;
  border-radius: 50%;
  outline: none;
  background: blanchedalmond;
  box-shadow: 0px 0px 4px 0px rgba(56, 55, 52, 0.63);
}

.check:hover {
  color: green;
  box-shadow: 0px 0px 3px 2px rgba(56, 55, 52, 0.63);
}

.restartWrapper {
  float: left;
  margin-left: 10px;
}

.restart {
  width: 95px;
  height: 40px;
  padding: 0px;
  margin-right: 10px;
  margin-top: 5px;
  font-size: 18px;
  font-weight: 500;
  color: #6e6a64;
  border: none;
  border-radius: 10px;
  outline: none;
  background: blanchedalmond;
  box-shadow: 0px 0px 4px 0px rgba(56, 55, 52, 0.63);
}

.restart:hover {
  color: #a19d97;
}

.restart:active {
  color: #5e5a54;
  box-shadow: none;
}

/* Option menu */

.optionWrapper {
  width: 160px;
  display: inline-block;
  vertical-align: top;
  text-align: center;

  /* background-color: aquamarine; */
}

.colorOption {
  vertical-align: top;
  width: 50px;
  height: 50px;
  margin: 6px;
  padding: 0px;
  background-color: white;
  border-radius: 50%;
  cursor: pointer;

  outline: none;
  box-shadow: none;
  border: none;
}

.activeColor {
  width: 50px;
  height: 50px;
  box-shadow: 0px 0px 5px 3px rgb(139, 137, 129);
}

.settingsWrapper {
  text-align: left;
  display: inline-block;
  vertical-align: middle;
  transition: all 0.2s ease;
  height: 0px;
  opacity: 0;
}

div.activeSettings {
  height: 200px;
  opacity: 1;
  transform: translateY(0);
}

.settingsBtn {
  margin: 0;
  /* width: 100px; */
  margin-bottom: 10px;
  user-select: none;
}

p.activeSettings {
  padding-bottom: 6px;
  border-bottom: #6e6a64 2px solid;
}

.settingsWrapper input,
.settingsWrapper select {
  float: right;
  font-size: 16px;
}

.settingsRowWrapper {
  height: 30px;
  margin-bottom: 2px;
  /* display: table-cell; */
  vertical-align: middle;
  /* background-color: blueviolet; */
}

#gameHashInp {
  width: 102px;
}

#rowsInp {
  width: 50px;
}
